/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #f3f8fe, #e3f2fd);
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 3rem;
  color: #0056d6;
}

.subtitle {
  font-size: 1.2rem;
  color: #555;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: 12px;
  width: 50%;
  border: 2px solid #0056d6;
  border-radius: 50px;
  outline: none;
  font-size: 1.1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-bar input:focus {
  border-color: #003a94;
}

.search-bar button {
  padding: 12px 25px;
  margin-left: 10px;
  background-color: #0056d6;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-bar button:hover {
  background-color: #003a94;
  transform: translateY(-3px);
}

.hero {
  margin: 30px 0;
  background: linear-gradient(135deg, #0078ff, #66c7f4);
  border-radius: 15px;
  color: white;
  padding: 20px;
  text-align: center;
}

.hero img {
  width: 150px;
  height: auto;
  margin: 20px auto;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#current-weather {
  background: #f9fafc;
  padding: 30px;
  border-radius: 15px;
  margin: 30px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forecast-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 30px;
  background: #0056d6;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 1rem;
}
